<div class="container my-3">
  <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <div class="mb-3">
          <label for="user_id">사용자 ID</label>
          <input type="text" class="form-control" name="user_id" id="user_id"
                value="{{ form.user_id.value|default_if_none:'' }}">
      </div>
      <div class="mb-3">
          <label for="password">비밀번호</label>
          <input type="password" class="form-control" name="password" id="password"
                value="{{ form.password.value|default_if_none:'' }}">
      </div>
      <div class="mb-3">
        <label for="nickname">닉네임</label>
        <input type="text" class="form-control" name="nickname" id="nickname"
              value="{{ form.nickname.value|default_if_none:'' }}">
      </div>
      <div class="mb-3">
        <label for="code">초대 코드</label>
        <input type="text" class="form-control" name="code" id="code"
              value="{{ form.code.value|default_if_none:'' }}">
      </div>
      <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>
